<h1 class="title">Client Records</h1>

<% @user.each do |u|%>
<div class="client">
Name: <%= link_to u.full_name, user_path(u) %><br>
Email: <%= u.email %><br>
Location: <%= u.city %>,
<%= u.state %><br>
Score: <%= u.score %><br>
</div>
<% end %>