<div class="client">
Name: <%= @user.full_name %><br>
Email: <%= @user.email %><br>
Location: <%= @user.city %>,
<%= @user.state %><br>
Score: <%= @user.score %><br>
</div>
<button><%= link_to "Update Client Info", edit_user_path(@user.id) %></button>
<%= button_to "Delete Client", @user, method: :delete, data: { confirm: "Really?" } %>